@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Rubik&display=swap');
:root {
    --large-font-size: 1.2rem;
    --largemid-font-size: 1.5rem;
    --larger-font-size: 2rem;
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}

.navbar {
    background-color: white;
}

a {
    color: black;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar,
.nav-link {
    font-family: 'Merriweather', serif;
}

section {
    margin-bottom: 5rem;
}

p {
    font-size: var(--large-font-size);
}

hr {
    color: lightgrey;
}

.navbar {
    padding: 10px 20px 10px 20px;
    letter-spacing: 3px;
}

.nav-link {
    letter-spacing: 3px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.jumbotron {
    background: url(/assets/img/jumbotron.jpeg) center no-repeat;
    background-size: cover;
    height: calc(100vh - 3rem);
    display: flex;
    align-items: center;
    text-align: center;
}

.display-7 {
    font-size: var(--larger-font-size);
}

.logo {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0 10px;
    margin-right: 10px;
}

.logo-light {
    color: black;
    font-size: var(--largemid-font-size);
    margin-right: 8px;
    font-weight: 900;
    font-family: 'Rubik', sans-serif;
    text-shadow: .8px .8px black;
}

.project-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.project-list {
    text-align: center;
    cursor: pointer;
    position: relative;
}

.project-list img {
    width: 100%;
}

.project-list-title {
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px 16px;
}

img.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.btn-contact {
    background-color: #ebebeb;
}

.btn-contact:hover {
    background-color: lightgray;
}

footer {
    background-color: black;
    color: white;
    height: 7vh;
    text-align: center;
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .about-menu {
        display: flex;
        justify-content: center;
    }
    .about-content {
        margin-bottom: 3rem;
        border: 1px solid lightgray;
        padding: 0;
    }
}

@media screen and (max-width: 991px) {
    .about-menu {
        display: flex;
        justify-content: center;
    }
    .about-content {
        margin-bottom: 3rem;
    }
}